<header>
    <h1>
        <a href="{% url 'main:index' %}">
            Lorem ipsum
        </a>
    </h1>
    {% if user.is_authenticated %}
        <h2>
            olá, {{ user }}. 
        </h2>
    {% endif %}
    <nav class='navbar'>
        <ul class='navbar-list'>
           {% if user.is_authenticated %}
                <li class='navbar-item'>
                    <a class='navbar-link' href="#">Profile</a>
                </li>
                <li class='navbar-item'>
                    <a class='navbar-link' href="{% url 'main:user_logout' %}">Logout</a>
                </li>
            {% else %}
                <li class='navbar-item'>
                    <a class='navbar-link' href="{% url 'main:user_logout' %}">Login</a>
                </li>
                <li class='navbar-item'>
                    <a class='navbar-link' href="{% url 'main:user_register' %}">Register</a>
                </li>
           {% endif %}
        </ul>
    </nav>
</header>